<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>
  <body>
    <!-- Preloader -->
    <div class="wrapper">
      <div class="loading">
        <svg
          viewBox="0 0 187.3 93.7"
          height="200px"
          width="300px"
          class="svgbox"
        >
          <defs>
            <linearGradient y2="0%" x2="100%" y1="0%" x1="0%" id="gradient">
              <stop stop-color="pink" offset="0%"></stop>

              <stop stop-color="blue" offset="100%"></stop>
            </linearGradient>
          </defs>
          <path
            stroke="url(#gradient)"
            d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z"
          ></path>
        </svg>
      </div>
    </div>

    <div class="dashboard-container">
      <h1>Welcome to the Dashboard, <%= username %>!</h1>
      <a href="/logout" class="logout-link">Logout</a>
    </div>

    <!-- Preloader Functionality -->
    <script>
      // Preloader Functionality
      setTimeout(function () {
        $(".wrapper").fadeOut();
      }, 3000); //Indicates 3 milliseconds
    </script>

    <!-- Link to Jquery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>
