/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background: #000;
    height: 100vh;
    width: auto;
  }

  /* Preloader */
.wrapper {
  position: fixed;
  background-color: #000;
  display: grid;
  place-items: center;
  inset: 0;
  height: 100vh;
  z-index: 99999999999;
}

.svgbox {
  --blue: rgb(148, 66, 63);
  stroke: var(--blue);
  stroke-width: 5;
  fill: none;
  stroke-dasharray: 50, 14;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 1;
  }

  to {
    stroke-dashoffset: 1;
  }
}
  
  .login-box{
    display: grid;
    place-items: center;
  }
  
  form{
    display: grid;
    place-content: center;
    justify-content: center;
    text-align: center;
    background-image: url('/img/github_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #017AAA;
    margin-top: 2em;
  }
  
  .github-logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 1em 0;
    box-shadow: 0 0 5px #03f40f, 0 0 5px #03f40f, 0 0 10px #03f40f,
    0 0 4px #03f40f;
  }
  
  /* Heading */
  .heading h3{
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
  }
  
  /* Error Alert Message */
  .error-container{
    text-align: center;
    display: grid;
    place-items: center;
  }
  
  .alert, .alert-danger{
    width: 20em;
    height: 3.4em;
    margin: 0.5em 1em;
  }
  
  .alert p{
    margin-top: -0.5em;  
  }
  
  
  
  /* inputs */
  input {
    color: #fff;
    font-weight: 650;
    text-align: center;
    outline: 0;
    border: none;
    background: transparent;
    border-bottom: 1px solid #017aaa;
    width: 20em;
    height: 2.7em;
    margin: 0.9em;
    transition: 0.2s ease;
  }
  
  input:focus {
    border-bottom: 1px solid #03f40f;
  }
  
  
  /* Button Styling */
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 115px;
    gap: 15px;
    margin: 1.5em 0;
    background-color: #181717;
    outline: 1px #03f40f solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    margin-top: 0.9em;
    transition: 400ms;
  }
  
  .button svg path {
    transition: 400ms;
  }
  
  /* .button:hover {
    background-color: transparent;
  }
  
  .button:hover .text {
    color: #181717;
  }
  
  .button:hover svg path {
    fill: #181717;
  } */

  .button[disabled] {
    opacity: 0.5; /* Reduce opacity for disabled state */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
  }
  


  /* End of button styling */
  
  .account-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.1em 0; 
  }
  
  .account-section p, .link .login-link{
    font-size: 0.8em;
    font-weight: 600;
  }
  
  .account-section p{
    color: #fff;
    margin-top: 0.7em;
  }
  
  .link{
    margin-top: -0.5em;
    margin-left: 0.2em;
  }
  
  /* Password Toggle */
  .password-container {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 26px;
    transform: translateY(-50%);
    width: 24px;
    height: 20px;
    background-image: url('/img/myeye.svg');
    background-size: cover;
    cursor: pointer;
  }
  /* End of Password Toggle */

  .valid{
    color: green;
  }

  .error{
    color: red;
  }

